HTTP_ADDR=:8080
HTTP_READ_TIMEOUT_MS=10000
HTTP_READ_HEADER_TIMEOUT_MS=3000
HTTP_WRITE_TIMEOUT_MS=15000
HTTP_IDLE_TIMEOUT_MS=60000
HTTP_SHUTDOWN_TIMEOUT_MS=10000
HTTP_REQUEST_TIMEOUT_MS=8000
MAX_CONCURRENT_REQUESTS=500
MAX_CONCURRENT_PUBLISHES=200
MAX_CONCURRENT_QUERIES=300
CIRCUIT_FAILURE_THRESHOLD=5
CIRCUIT_OPEN_MS=15000
CIRCUIT_HALF_OPEN_SUCCESSES=2
MODULE_START_RETRY_MAX=4
MODULE_START_RETRY_BACKOFF_MS=1000
NODE_ID=node-local

NATS_URL=nats://localhost:4222
NATS_STREAM=SHIRO_EVENTS
NATS_USER=
NATS_PASSWORD=
NATS_TOKEN=

ETCD_ENDPOINTS=localhost:2379
ETCD_USER=
ETCD_PASSWORD=
LEADER_ELECTION_KEY=/shirods/controlplane/leader

CASSANDRA_HOSTS=localhost:9042
CASSANDRA_KEYSPACE=shirods
CASSANDRA_USER=
CASSANDRA_PASSWORD=

TLS_CA_FILE=
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_SERVER_NAME=
TLS_INSECURE_SKIP_VERIFY=false

API_BEARER_TOKEN=
API_ACL_ADMIN_TOKENS=admin-token
API_ACL_PUBLISH_TOKENS=publish-token
API_ACL_READ_TOKENS=read-token
DISABLE_API_TOKEN_AUTH=false

PUBLISH_RETRY_MAX=4
PUBLISH_RETRY_BACKOFF_MS=150
PUBLISH_RETRY_MAX_BACKOFF_MS=3000
OUTBOX_RELAY_INTERVAL_MS=1500
OUTBOX_RELAY_BATCH_SIZE=100
RATE_LIMIT_RPS=60
RATE_LIMIT_BURST=120
RATE_LIMIT_MAX_IPS=10000
RATE_LIMIT_IP_TTL_SECONDS=900
MAX_REQUEST_BODY_BYTES=1048576
SECURITY_HEADERS_ENABLED=true
AUDIT_LOG_ENABLED=true
REQUIRE_LEADER_FOR_WRITES=false
OTEL_SERVICE_NAME=shiro-distributed-system
OTEL_EXPORTER_OTLP_ENDPOINT=
